[2019-06-20 15:55] N-Wouda opened #3 "Various acceptance criteria"
As listed in _e.g._ Santini, A., Ropke, S. & Hvattum, L.M. _Journal of Heuristics_ (2018) 24: 783. https://link.springer.com/article/10.1007%2Fs10732-018-9377-x. Following the results of said paper, I suggest to implement the following:

- Simulated annealing (SA). The general temperature-based annealing scheme. This will need to be moved into a separate acceptance criterion, instead of in the cur

[2019-06-20 15:55] N-Wouda commented on #3
Currently we only use the Kirkpatrick et al. (1982) method, which is perhaps the most commonly used simulated annealing approach.

[2019-06-20 20:19] N-Wouda opened #4 "Add example notebooks"
This might include a simple test case for the TSP, in a carefully curated example to showcase the use of this library.

[2019-06-21 08:17] N-Wouda commented on #3
This will also require moving most of the current (SA) criterion out of the ALNS class, which seems proper.

[2019-06-22 10:58] N-Wouda commented on #4
A TSP example is now available at [travelling_salesman_problem.ipynb](https://github.com/N-Wouda/ALNS/blob/master/examples/travelling_salesman_problem.ipynb), but will need a bit more documentation, and ALNS/iteration statistics.

[2019-06-22 11:00] N-Wouda commented on #3
I've found SA with reheating to be a very successful method myself. Right now we do not support reheating, but it is worthwhile to investigate SA as a more general acceptance framework than just the Kirkpatrick implementation.

[2019-06-22 11:01] N-Wouda opened #6 "Publish to PyPI"

[2019-07-02 12:41] #3 closed

[2019-07-02 13:26] N-Wouda opened #9 "Collect statistics during iteration"
This should probably be a toggle - for longer iteration lengths, the list may become prohibitive. Also think about what kind of statistics. At the very least:

- Objective value at each iteration;

For operator evaluation, perhaps:
- Counts of chosen destroy/repair operators;
- [Operator weights?]

[2019-07-02 13:27] N-Wouda commented on #9
When these data are requested but the iterations were performed without their collection, we will probably need to raise a `NotCollectedError`, or equivalent.

[2019-07-05 11:42] #6 closed

[2019-07-05 12:59] N-Wouda commented on #6
See https://pypi.org/project/alns/.

[2019-07-25 14:38] N-Wouda commented on #4
A CSP example is now available at [cutting_stock_problem.ipynb](https://github.com/N-Wouda/ALNS/blob/master/examples/cutting_stock_problem.ipynb).

[2019-07-30 10:20] #4 closed

[2019-09-18 05:17] niksust opened #15 "Add Example with adjacency matrix input"
I saw your example of the Traveling Salesman Problem to understand the solution and implementation of the ALNS.
I was wandering if there was another example of TSP where the input is a distance matrix for nodes. The example TSP file is https://people.sc.fsu.edu/~jburkardt/datasets/tsp/gr17_d.txt

Thank you.

[2019-09-18 16:38] N-Wouda commented on #15
I don't have code for this myself, but a distance matrix is a full specification of the graph/nodes. As such, it should be possible to adapt the notebook to this case also. As for plotting solutions without any node coords, well, that might be a bit more difficult!

[2019-09-18 16:42] N-Wouda commented on #15
@niksust I believe https://people.sc.fsu.edu/~jburkardt/datasets/tsp/gr17.tsp offers the same problem in TSP format. This might actually work with relatively minimal modification.

[2019-10-13 08:02] N-Wouda commented on #9
Operator counts, and their resulting outcomes (better, best, accepted/rejected) are probably a good next step here.

[2019-10-17 12:34] #9 closed

[2020-02-20 09:33] N-Wouda opened #19 "Additional documentation"
E.g. a readthedocs-like website? Currently, the central gist is explained by the examples, but more could be done to document the API.

[2020-02-20 12:06] N-Wouda opened #20 "Fix Result.plot_operator_counts plot looking 'weird'"
E.g. when not plotting all possible outcome types, the axes are still fixed as if one did. Like so:

![image](https://user-images.githubusercontent.com/16272507/74932339-d684dd00-53e1-11ea-8fb2-8c6a08e098ea.png)

[2020-02-20 12:07] N-Wouda commented on #20
This has to do with the `ax.set_xlim()` call in `_plot_operator_counts`, as it doesn't actually use `num_types`.

[2020-02-23 15:01] #20 closed

[2020-04-23 15:35] siljuovix opened #27 "TypeError"
I am reproducing the TSP example in a Jupyter Notebook and in the following line:
`initial_solution = greedy_repair(state, random_state)`

I get the following error:

[code]
I fixed the previous with the following in line 15:

`node = next(node for node in nodes if node not in current.edges.values())`

But the type error keeps propagating:

[code]
because visited is a set. If I transform the set i

[2020-04-23 16:32] N-Wouda commented on #27
Hey @siljuovix, thanks for opening an issue! I can sadly not reproduce the problem locally.

From what I can tell from your tracebacks, in your notebook `node` is a list, rather than a `tuple` (lists cannot be hashed, tuples can). That's a bit weird, as they should be tuples when loaded from `tsplib`.

Can you check for me what  ```data = tsplib95.load_problem('xqf131.tsp')``` returns? (this is ca

[2020-04-23 16:52] N-Wouda commented on #15
This issue has not seen activity for some time. Since it does not track an active bug, or feature request that directly relates to the core code, I have decided to close it for now.

If you feel this is in error @niksust, please let me know!

[2020-04-23 16:52] #15 closed

[2020-04-24 05:38] siljuovix commented on #27
@N-Wouda  Thank you for the fast reply!
data.node_coords is a dictionary like : 

 `{1: [0, 13], 2: [0, 26], 3: [0, 27], 4: [0, 39], ...}`

Then after 

`state = TspState(list(data.node_coords.items()), {})`

node_coords passes as a list of tuples like:` [(1,[0,13]), (2,[0,26]),...]`

Also worth mentioning that I get a deprecation warning when using problem_load:

And this line:
`optimal = data.tr

[2020-04-24 13:49] #27 closed

[2020-04-24 13:50] N-Wouda commented on #27
I have a look at the recent changes to tsplib, @siljuovix. These turn out to have been substantial, and warrant changes on my end. I could reproduce the issue after upgrading my tsplib package to `0.7.0`, and resolved the issues in #28.

[2020-04-25 14:04] siljuovix commented on #27
Thank you very much!

On Fri, Apr 24, 2020 at 3:50 PM Niels Wouda <notifications@github.com>
wrote:

--
Silvia Oviedo Castillo

[2020-04-26 09:20] N-Wouda opened #29 "Weight updating scheme"
The updating scheme currently used is overly restrictive: it updates the weights using a convex combination of the current weight, and whatever outcome the operator resulted in. That is how it was done (more or less) in the original ALNS paper, but does not reflect recent use of the ALNS metaheuristic in literature. We should also accommodate those cases.

In particular, we need to allow finer con

[2020-04-26 09:21] N-Wouda commented on #29
I might call this `AdaptiveStrategy` or similar.

[2020-05-03 21:32] N-Wouda opened #30 "Callbacks"
See also the `AlgorithmVisitor` used by Santini, [here](https://github.com/alberto-santini/adaptive-large-neighbourhood-search). Some of these ideas are really good, especially regarding the restarts/reset.

Santini implements:
- `on_algorithm_start`, called before iterating.
- `on_prerun_end`, called when the calibration run ends.
- `on_iteration_end`, called at the end of each iteration.
- `on_m

[2020-05-08 11:37] N-Wouda opened #32 "Make matplotlib an optional dependency"
Currently, there are two required dependencies: numpy, and matplotlib. Numpy is used in many places, in fact our entire algorithm is built around it.

Matplotlib, however, only finds use in the Result class, for plotting statistics. These plots are not required to use the algorithm, although they do provide insight and are valuable in developing heuristics. I do not think, however, we should force

[2020-05-08 11:38] N-Wouda commented on #32
Possibly thought a decorator on the plot functions, which checks if matplotlib is installed and raises when it is not.

[2020-05-12 21:02] N-Wouda opened #35 "Criteria autofit?"
Fairly often I see things like

This sort of 'autofit' is interesting to add, and not too hard to do either.

[2020-05-17 18:01] N-Wouda opened #36 "Allow weights to be zero"
I was tuning updating weights for the [PL heuristic](https://github.com/N-Wouda/PL-Heuristic), and encountered no weights can be set to zero. This should be allowed: all we require is that they are non-negative, which includes zero.

[2020-05-17 18:03] N-Wouda commented on #36
This is checked in `_validate_parameters()` of the ALNS class.

[2020-05-17 18:09] N-Wouda commented on #35
Roozbeh et al. (2018) show how to do this for the starting temperature, but it's easy to derive for yourself as well. Once you know the starting and end temperatures, the cooling rate `r` can be computed from the following equivalence: `T_end = r ** n * T_start`.

Roozbeh et al. (2018). An Adaptive Large Neighbourhood Search for asset protection during escaped wildfires. _Computers & Operations Re

[2020-06-26 15:57] NH0 opened #37 "Speed-up copying in each iteration?"
For every operator (destroy and repair), it seems that the returned state must be a (modified) deep copy of the current state passed as a parameter of the operator.
When profiling my implementation, it turns out that copying the state at every operator call takes a lot of time, and slow the algorithm.

Is it possible to do otherwise to make the algorithm faster ?

[2020-06-26 16:22] N-Wouda commented on #37
Hey Thibault, thanks for opening an issue!

If you use copying, that's presumably in your operators, and outside the ALNS package. I use copying in the example notebooks to ensure I do not modify best and current solutions, but this is not enforced usage - if you have a better way for your own code, feel free to use that.

In particular, depending on the problem you're solving and the data structu

[2020-06-26 16:23] N-Wouda commented on #37
Could you share a bit more about the lay-out of your State class? How do you track a solution state?

[2020-06-26 17:17] NH0 commented on #37
Thanks for the quick response !

My bad for the repair operators, I thought it was also needed.

I'm trying to solve a CVRP (Capacitated Vehicule Routing Problem), and my state class has the following attributes :
`instance`
`number_of_depots`
`size`
`capacity`
`distances`
`collect_alns_statistics`
where `instance` is a networkx graph representing the CVRP solution, `distances` is the adjacency ma

[2020-06-26 18:33] N-Wouda commented on #37
It seems to me that you store immutable problem data on your solution object, like capacity, distances, and size. Those (I think) never change, so can safely be moved off onto a different object, say a `Problem` class. That way they never need to be copied, and the solution state becomes much smaller to copy as a result. You can look at the two heuristics I've linked for the way I've done this, bu

[2020-06-26 21:10] NH0 commented on #37
Great idea ! It even turns out that I already have a list of routes that I use in a statistics object. I'll see if my operators can work with just lists of routes, and change my code accordingly if possible.

For some statistics, such as the list of routes, I need them in the state, because I use them in my operators. Do you have an idea of how I could do it an other way ?
What I want is to know w

[2020-06-27 08:43] N-Wouda commented on #37
If I understand you correctly, you should be able to track two lists on your solution state: `state.routes`, a list of routes, and `state.unassigned`, a list of destroyed/unassigned customers. `unassigned` is always empty when the state is copied at the start of the destroy operator, since the passed-in solution state is made feasible again by the previous iteration's repair operator. As such, it

[2020-07-08 17:56] NH0 commented on #37
Thanks for the reply !

I believe that what you've proposed will work for my heuristic. :)

But I still need to save `state.routes` and `state.unassigned` at each iteration in order to have the stats I need.
As the destroy operator only takes the state (and the random state) as argument, I don't see an other way than to save `state.routes` and `state.unassigned` inside something like `state.statis

[2020-07-13 16:44] N-Wouda commented on #37
@NH0 you are correct in stating that `routes` and `unassigned` should go directly on the `state` object. I do not think all copying is avoidable when finding new solutions (at least, I haven't figured out how yet!). What you should avoid is needless copying, in particular of data that is constant in each iteration. But these two are clearly not immutable :).

Good luck! Seeing as you no longer fac

[2020-07-13 16:44] #37 closed

[2020-11-01 15:10] #36 closed

[2020-11-11 21:00] sk-surya opened #40 "Import error after pip install"
Getting the follow error on import after pip install

`from alns import ALNS, State`

results in,
ModuleNotFoundError: No module named 'alns.tools'`

'tools' folder missing inside 'alns' folder.
Manually copying tools folder fixes the issue.
Can this be fixed with pip install?

[2020-11-11 21:16] #40 closed

[2020-11-11 21:18] N-Wouda commented on #40
Hi @sk-surya, thanks for opening an issue!

Now this is silly. I forgot to make `alns.tools` into an actual Python module (there's not `__init__.py`), so `setuptools.find_package` ignores it. I've fixed that just yet with a new commit, and a build is underway which will automatically update the package on PyPI. If you try again in a few minutes, `alns==1.3.2` should work out of the box.

Thanks ag

[2020-11-11 21:24] N-Wouda commented on #40
Just checked - after updating my dependency to `alns==1.3.2` I can no longer reproduce the issue.

[2020-11-11 21:26] sk-surya commented on #40
works now. Thanks!

[2021-03-04 10:10] ZhiWeiCui commented on #29
@N-Wouda I would like to know any progress on `AdaptiveStrategy`, thank you very much for an amazing package.

[2021-03-04 10:35] N-Wouda commented on #29
@ZhiWeiCui hi, thanks for reaching out!

There is no progress on this yet -t I have been quite busy the past year or so. If you want, you can open a PR that I'd be happy to review. Otherwise, I might get to it in a few weeks.

Out of curiosity, can you tell me a little more about your use case?

[2021-03-05 01:36] ZhiWeiCui commented on #29
I want to solve Dynamic Pickup and Delivery Problem based on ALNS.

The main ideas are as follows:
1. update scores after in each iteration.
2. update weights after in each segment(a segment is a number of iterations of the ALNS heuristic; here we define a segment as
100 iterations.) based one (1).
![Snipaste_2021-03-05_09-32-49](https://user-images.githubusercontent.com/22850130/110054327-dd38850

[2021-03-05 13:36] N-Wouda commented on #29
@ZhiWeiCui you might also like https://github.com/N-Wouda/OR-Analysis then!

[2021-03-08 16:46] N-Wouda commented on #29
@ZhiWeiCui #41 implements, using your notation, $w_{i, j + 1} = w_{i, j} r + (1 - r) \pi_i$. It still needs tests, further documentation, and I will have to update the examples.

This will be part of ALNS v2.0.0, as these are breaking changes.

[2021-03-10 13:15] suleman-81 opened #42 "hi, can we use ALNS method on distance matrix ??"

[2021-03-10 14:43] N-Wouda commented on #42
I'm not sure. What problem are you solving? A distance matrix alone is just data, and not something to optimise.

[2021-03-10 16:59] suleman-81 commented on #42
Thank you for your response.

In my problem i need to find minimum cost route for 22 shops. I already
calculated the cost matrix for it. Now i need to find out the path bs using
ALNS method.

In your code you call the function for ecludian distance. But i have my
cost matrix , so is it possible to calculate it by using my cost matric
instead of that ecludian distance.

On Wed, Mar 10, 2021, 10:43

[2021-03-10 17:06] N-Wouda commented on #42
I assume you mean the TSP example? Then it's a definite yes. You would have to change the evaluation of the objective (in `State.objective()`) to sum the cost matrix `c` over the edges `(i, j)` between shops `i` and `j` that make up your solution.

Something like ```return sum(self.c[i, j] for i, j in self.edges)```, or the like should do!

[2021-03-10 17:18] suleman-81 commented on #42
Thank you for the clarification. I will check it out and get back to you.

On Thu, Mar 11, 2021, 1:06 AM Niels Wouda ***@***.***> wrote:

[2021-03-11 10:55] ZhiWeiCui commented on #29
@N-Wouda Thank you very much for the other repositories you recommended, which are equally excellent. I have learned a lot from your repositories.

[2021-03-12 01:57] ZhiWeiCui commented on #29
@N-Wouda Thank you very much for the other repositories you recommended, which are equally excellent. I have learned a lot from your repositories.

I have two questions:

1. My question is a little different from yours. Pick-up and delivery are not necessarily Depot, and my question contains Delivery point that has been picked up. My question includes a time window of pick-up and delivery. Where d

[2021-03-12 10:01] N-Wouda commented on #29
@ZhiWeiCui re. your points.

1. Forget the operators for now, and take out the ALNS thing for a bit. You'll get to that later.

    In the `Problem` class you'll want to read in a problem instance (data) from some file location. We did this via `Problem.from_file`, but you'd have to reimplement the class for your data.

    You'll likely want to modify the `Item` class to contain your time windows

[2021-03-14 12:21] N-Wouda commented on #42
Related issue: #15.

[2021-03-15 06:31] suleman-81 commented on #42
Thanks, I'll check it out.

On Sun, Mar 14, 2021, 8:21 PM Niels Wouda ***@***.***> wrote:

[2021-03-15 10:05] ZhiWeiCui commented on #29
It seems that there is no parameter that can control the number of vehicles in your code, or I did not find it.

[2021-03-15 16:22] N-Wouda commented on #29
@ZhiWeiCui correct, that was not a part of the problem we were solving.

[2021-03-17 11:17] haroonahmed1 opened #43 "Display Solution Route"
In the TSP example the solution only shows the minimum distance value, Is it possible to display the route as an array which results in minimum distance ?

[2021-03-17 20:30] N-Wouda commented on #43
@haroonahmed1 thanks for opening an issue. It's not exactly clear to me what you mean. I show the route as a figure, based on the route implied by the solution's edges. You could look at how I create that graph on how to obtain the route.

[2021-03-18 11:09] haroonahmed1 commented on #43
Thank you for reply, based on edges I made a function to display route as an array.

[2021-03-18 11:09] #43 closed

[2021-03-18 11:50] N-Wouda commented on #43
Great, thanks for letting me know! If you have any further questions, feel free to open another issue.

[2021-04-29 05:12] TNQINGYUN opened #45 "Hi, can this ALNS be used for binary variables?"
Hi, if the problem is to optimize a problem with binary variables x_i, and the objective function F(x), then is the ALNS applicable for  such problems. BTW, how to define the dimensions and variable type? Thanks for your time.

[2021-04-29 06:36] N-Wouda commented on #45
@TNQINGYUN hi, thanks for opening an issue.

I have a repository [here]() that uses this package to solve a problem with purely binary decisions, so yes, you can use this package for such problems. In general, you can use this package for (at least) all problems that can be expressed as (integer) linear programs.

It is up to you how to model the decisions. That will depend on the problem you're s

[2021-04-29 06:47] TNQINGYUN commented on #45
Thanks for your quick reply. BTW, the link in your reply for the binary package did not work.  Can you replace by a new one?

I want to solve a facility location problem with K locations and use binary variable as the decision variable. The decision variable is given as K binary variables, which can be given as the input to evaluate objective function.  I want to find a fast searching heuristic an

[2021-04-29 07:08] N-Wouda commented on #45
My apologies, I meant this link: https://github.com/N-Wouda/PL-Heuristic.

You might want to store the K locations in, say, an array on the `State` object. Something like this, perhaps:

[code]

Where I assume you have, say, a data file that contains the numpy array `costs`, which stores the decision costs.

[2021-04-29 07:20] TNQINGYUN commented on #45
Thanks. This is very helpful. I will have a try.

[2021-04-29 21:03] N-Wouda commented on #45
@TNQINGYUN very good, let me know if you have any further questions!

[2021-06-10 08:31] N-Wouda commented on #45
@TNQINGYUN I'm closing this issue because I have not heard from you for some time. If you something new to discuss, feel free to let me know by opening a new issue. Have a great day!

[2021-06-10 08:31] #45 closed

[2021-06-10 08:31] N-Wouda commented on #42
@suleman-81 I'm closing this issue because I have not heard from you for some time. If you something new to discuss, feel free to let me know by opening a new issue. Have a great day!

[2021-06-10 08:31] #42 closed

[2021-07-19 09:49] rlacjfjin opened #46 "milp solver and ALNS"
Hi,

  Is is possible to combine with milp solver? such as comercial solver gurobi,cplex or open source solver scip,cbc and so on.
I see your project OR-Analysis which are solving VRPSPDMS-H problem with ALNS and compare with Cplex , and is it possible combine of them?

Thanks,

[2021-07-19 10:54] N-Wouda commented on #46
Hi @rlacjfjin,

Yes, in principle that should be doable, and would veer into the territory of a [matheuristic](https://en.wikipedia.org/wiki/Matheuristics). The question is how to achieve this for your particular problem. Without problem details I can only discuss generalities.

Within ALNS you have basically two places where you could do something with an exact solution method: in the destroy pha

[2021-07-20 01:30] rlacjfjin commented on #46
So, is it impossible to adding ALNS to general MILP solver framework(branch and bound or branch and cut)?
In fact when I use exact solution method and want to speed up in specific problem, such as vrp or bin-packing, the initial part of giving feasible solution through heurisitc method can't work very well. For example, when I sovle cvrp using cbc solver, I use C-W savings to provide initial solut

[2021-07-20 08:57] N-Wouda commented on #46
It's probably not impossible, but you'll have to be careful in how you formulate your problem.

If you want to use ALNS inside a branch-and-bound scheme, one way might be via branch-and-price with a path-based VRP formulation. Here, you select a subset of paths/variables for your restricted master problem, and then iteratively solve a pricing problem to determine whether there are still better pat

[2021-07-21 05:21] rlacjfjin commented on #46
Thanks a lot!👍

[2021-08-03 21:17] N-Wouda commented on #46
@rlacjfjin you're quite welcome. I'm closing this issue for now, since I think it has been mostly resolved. If you run into an issue implementing one of the two approaches outlined above, feel free to open a new issue!

[2021-08-03 21:17] #46 closed

[2022-01-16 16:28] carol007 opened #50 "How to solve Vehicle Routing Problem with Time Windows?"
`state = TspState(customers, {})
initial_solution = greedy_repair(state, random_state)`
I change the cities into customers with VRPTW problems, and I see ur greedy_repair function only directly considered about nearest path. If i want to consider the window time as a factor to greedly initialize a init_solution, how to set ur greedy_repair function? thx!!!

[2022-01-17 09:25] N-Wouda commented on #50
Hi @carol007!

The VRP bit complicates things a bit; you could look at [this project](https://github.com/N-Wouda/OR-Analysis) for inspiration on how to generalise to multiple vehicles (hint: you might want to add a `routes` list to your `State` object).

A node in my TSP example is a tuple of `(label, (x, y))`. I would add a time window tuple to this, like `(label, (x, y), (start, end))`, where `s

[2022-01-17 09:54] carol007 commented on #50
@N-Wouda Thank you a lot! yes I have already changed the nodes with tuple of `(label, (x, y), (start, end))`. In fact, I randomly set a time window picked from the standard normal distribution for a car to service a certain customer. And I feel confused about the concept of the objective function in your code. In my VRPTW problems with no capacities factor, should i modify and take the objective f

[2022-01-17 11:39] N-Wouda commented on #50
@carol007 you wrote

That depends on your problem. If you consider the time windows hard constraints, I would not add them to the objective. The problem then is just to find the shortest routing such that all places are visited within their time windows.

If, however, time windows are an aspirational goal rather than a hard constraint, you could penalise their violation in the objective function.

[2022-02-14 06:33] maryam2171 opened #51 "Explain more about this code please."
Hello N-Wouda
This is the first time that I want to solve a model with metaheuristics. I want to use ALNS for my VRP-TW model. Could you explain how should I use these files and which file should be changed and adapted with my model?
Thank you.

[2022-02-14 09:32] N-Wouda commented on #51
Hi @maryam2171,

You might want to look at #50 for more discussion about time windows. I do not have any ready-made code for the VRP with time windows, however. You can also have a look at the TSP example [here](https://github.com/N-Wouda/ALNS/blob/master/examples/travelling_salesman_problem.ipynb) for how to use the ALNS package.

[2022-02-14 13:50] maryam2171 commented on #51
Thank you for responding and suggesting the TSP example.
So what is the application of this code? I mean in what cases we can use it?
Sorry, I'm a beginner with this website and this is my first experience.

[2022-02-15 14:04] N-Wouda commented on #51
@maryam2171 I'm not sure what you're asking 😅. The purpose of the TSP example is to solve an instance of TSP. You can use it to solve that problem, or other TSPs like it. VRP is a generalisation of TSP to multiple vehicles, and then VRPTW generalises that to include time windows. You might also have a look [here](https://github.com/N-Wouda/OR-Analysis) for an ALNS heuristic that solves another VRP

[2022-02-15 14:23] N-Wouda opened #52 "Switch to poetry + update dependencies"
My newer projects use pyproject.toml (and poetry) for dependency management. ALNS should do the same.

[2022-02-16 06:16] maryam2171 commented on #51
@N-Wouda yes ,TSP is ok. So If I want to solve electric VRP-TW with ALNS you suggest to focuse on[https://github.com/N-Wouda/OR-Analysis/tree/master/heuristic](url) ? Thank you

[2022-02-16 16:39] N-Wouda commented on #51
@maryam2171 maybe, if you are ready to implement things. Do you have a list of operators you want to include in your ALNS heuristic? Do you know why you want those operators, and not others? Have you written that out in some detail on paper? To ease your life a little, you should probably base some of your operators on existing ALNS heuristics for the (electric) VRPTW from the literature. Have you

[2022-02-17 13:00] maryam2171 commented on #51
yes, I've read some of them but not exactly. thanks for your help. I hope the  OR-Analysis would be useful.

[2022-02-26 14:12] #52 closed

[2022-02-26 14:13] N-Wouda commented on #50
@carol007 I'm closing this issue because I have not heard from you for some time. If you something new to discuss, feel free to let me know by opening a new issue. Have a great day!

[2022-02-26 14:13] #50 closed

[2022-03-01 22:23] #29 closed

[2022-03-01 22:23] #35 closed

[2022-03-01 22:32] #32 closed

[2022-03-01 22:34] N-Wouda commented on #19
I am not sure whether this is needed. The code itself is reasonably well documented and typed. The examples show how the different components work together, and seem to be fairly clear since there have (so far) never been issues opened about this.

[2022-03-12 08:58] alwyn13 commented on #50
Hi, I wanted to ask why I failed to run the code. It's always say TypeError: iterate() takes from 4 to 5 positional arguments but 6 were given. I think it happened in the line, result = alns.iterate(init, WEIGHTS, DECAY, CRITERION, ITERATIONS). Thanks for answering!

[2022-03-12 09:16] alwyn13 commented on #51
@N-Wouda hi, I wanted to ask why I can't run the code. It said TypeError: iterate() takes from 4 to 5 positional arguments but 6 were given. I thought it happened in line result = alns.iterate(init, WEIGHTS, DECAY, CRITERION, ITERATIONS). Thank you!

[2022-03-12 10:22] N-Wouda commented on #51
@alwyn13 can you open a new issue for this, instead of using this one? And can you link the repository where you found that line? It's not in ALNS.

[2022-03-12 10:57] alwyn13 commented on #51
Sorry, it's from [OR-Analysis], but I can't open a new issue in that. Can I ask questions from that?

[2022-03-12 11:01] N-Wouda commented on #51
@alwyn13 I do not offer any support on that, no. Are you sure you installed the dependencies from the pipenv lock file? It seems to me that you are using ALNS 2.x, whereas that repo was written for ALNS 1.x. Install, say, `alns==1.4.2`.

[2022-03-12 11:09] alwyn13 commented on #51
Thanks! It works!

[2022-03-12 11:11] N-Wouda commented on #51
@alwyn13 great!

[2022-03-12 11:13] N-Wouda commented on #51
@maryam2171 I'm closing this issue because I have not heard from you for some time. If you something new to discuss, feel free to let me know by opening a new issue. Have a great day!

[2022-03-12 11:13] #51 closed

[2022-03-15 17:44] #19 closed

[2022-03-15 17:49] N-Wouda commented on #30
We have an `on_best` callback that's called whenever a new global best solution is encountered. That's useful for, say, local search around a new good solution.

Of Santini's list, I would really like to have `on_many_iters_without_improvement`, which can be used to perhaps reset the weights, acceptance criterion, and/or current solution. I need to think about the required method signature, and wh

[2022-03-25 12:34] N-Wouda opened #57 "Operator dependencies"
There are a few papers that have repair operators that work only with a specific set of destroy operators, that is, operators that destroy and repair different aspects of a solution can often only work together on that aspect. In e.g. inventory routing one might have operators for the routing, and others for the inventory. Those need not understand each other.

I thus want to add the option to ind

[2022-03-25 15:35] N-Wouda opened #58 "JOSS paper"
Eventually I want to get a JOSS (journal of open source software) publication out of this package. See [JOSS](https://joss.theoj.org/), and the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html). See [here](https://github.com/openjournals/joss-reviews/issues) for a list of currently open reviews, to get a feel for the review process.

[2022-03-27 17:33] N-Wouda opened #59 "Parallel ALNS"
See e.g. the [here](https://backend.orbit.dtu.dk/ws/portalfiles/portal/4129408/PALNS.pdf). PALNS is sometimes used instead of ALNS itself, to parallelise some parts of the search.

[2022-05-15 10:24] N-Wouda opened #61 "Protocols for AcceptanceCriterion and WeightScheme"
I am not a fan of acceptance criteria or weight schemes requiring inheritance to pass type checks. I would much rather use protocols ([this PEP](https://peps.python.org/pep-0544/#callback-protocols)), but those are not available in Py3.7.

So we have to wait until EOL of 3.7, which will happen in July 2023.

[2022-05-16 12:03] leonlan opened #62 "Iterate based on maximum time"
Thanks for the recent release on collecting runtimes!

What do you think of adding a feature to iterate using a maximum time value as stopping condition? It's something I come across a lot in the literature, e.g., [François et al. (2019)](https://pubsonline.informs.org/doi/abs/10.1287/trsc.2019.0909?casa_token=ZNQK33zBuyAAAAAA:8fei1j6nVOIc9UOhSrgD0Zjg6TpYZFVvM0HqXnIFrvShskZSUFYEfNbsKKyN9rzVfKb9NKl

[2022-05-16 12:45] N-Wouda commented on #62
I like the idea, but propose an interface change:

[code]

This is fairly restrictive - what if I want to use a different condition (that is not implemented by default)? Or one that does not use `max_value`? Or needs more parameters?

That's all possibly if we replace this with a `stop` argument that takes a `StoppingCriterion`. This criterion could be a callable (with a call interface similar to

[2022-05-16 13:34] N-Wouda commented on #62
@leonlan if you are willing, I would happily review a pull request on this!

I do not mind implementing it myself either, but that will probably take a little while before I get around to it - I am quite busy with conferences until the end of next month.

[2022-05-16 13:41] leonlan commented on #62
Alright, I have some free time left so I'll make an attempt :-). I'll submit a pull request somewhere in the end of next week.

[2022-05-16 13:43] N-Wouda commented on #62
Perfect, I am looking forward to your PR!

[2022-05-17 16:22] N-Wouda commented on #30
With #64, the need for `on_many_iters_without_improvement` has lessened. One can implement a stopping criterion that returns in that case, and optionally restart ALNS from there. That's different from Santini's approach, but basically equivalent.

[2022-05-17 16:23] #30 closed

[2022-05-17 16:23] N-Wouda commented on #62
Closed by #64.

[2022-05-17 16:23] #62 closed

[2022-05-17 16:34] N-Wouda opened #65 "Release 3.0.0"
TODO:

- [x] Update notebooks
- [x] Update README
- [x] Update license to "Niels Wouda and contributors"
- [x] Write style file, add linter to CI pipeline
- [x] Write changelogs (#64, #67)

[2022-05-17 16:35] N-Wouda opened #66 "Logging"
This is completely absent in the library, but should really be added.

[2022-05-18 09:04] N-Wouda commented on #65
Changelog:

**Generalised stopping criteria.** Whereas previously only a maximum number of iterations was supported, you can now also use a maximum runtime.

Stopping criteria are available in `alns.stop`, and should be passed as the `stop` argument to `ALNS.iterate`. The `stop` argument replaces `iterations`.

Take the following example, using 10_000 iterations:
[code]
You would now write this as

[2022-05-18 09:07] #65 closed

[2022-05-18 10:10] #66 closed

[2022-05-18 18:02] leonlan commented on #57
Do you have any ideas already on how to pass on the information regarding operator dependencies to `SimpleWeights`? The latter is only aware of the (implicit) ordering of the added operators and not aware of the function references or names. We need to somehow 1) store the `only_after` information and 2) translate this to the index-based representation of the operators and 3) pass this information

[2022-05-19 07:03] N-Wouda commented on #57
Not yet, unfortunately. I kind of want to get rid of having to pass the number of operators into a WeightScheme in general - maybe they can discover that from the ALNS instance? I will think about your detailed comment a bit more tomorrow, and the reply in earnest!

[2022-05-20 14:51] N-Wouda commented on #57
[code]

The idea looks good to me. Populating this can be done in `add_repair_operator`, by finding the destroy operators indicated using the `only_after` keyword in the destroy operator list.  If `only_after` is not specified, the default should be that the repair operator works with all destroy operators.

I suspect a simple list-like lookup in `O(# destroy operators)` is fine, no need for anyth

[2022-05-20 14:57] N-Wouda commented on #57
[code]

The idea looks good to me. Populating this can be done in `add_repair_operator`, by finding the destroy operators indicated using the `only_after` keyword in the destroy operator list.  If `only_after` is not specified, the default should be that the repair operator works with all destroy operators - encoding that efficiently might require that operator coupling happens `repair -> destroy`

[2022-05-20 15:25] leonlan commented on #57
Thanks for getting back so fast!

Indeed, computing this in one of the add methods would force a directional restriction. One possibility that doesn't require a fixed direction is to store all the `(repair_op, only_after)` information in some variable (e.g., `self._only_after`) and to call another helper method (e.g., `self._compute_op_coupling` at the start of `ALNS.iterate` based on the informat

[2022-05-20 17:43] N-Wouda commented on #57
Great, I look forward to your PR! At this point I think it's more helpful if you have a go at it and then I'll look at the concrete implementation, than that we theorise more and get nowhere further. I am confident you can get an OK implementation up with what we've discussed so far 😃.

[2022-05-20 20:38] N-Wouda opened #69 "Autogenerate ALNS description"
All these ALNS papers look alike in their basic structure. They discuss an initial solution, their operators, acceptance criteria, possibly a local search procedure, and their weight updating scheme. There's very little new under the sun in how all that is organised.

It might be nice if the implementation can take function docstrings, and built-in descriptions for core library functions, to gener

[2022-05-23 16:51] leonlan opened #71 "Optional callback after repair and on accept"
It would be nice to have a callback function to be called at moments other than when a new best solution is found. As fair as I know, the most frequent alternatives are:
- `after_repair`: After the repair step, before acceptance. Rationale: "explore with destroy/repair, exploit with local search"
- `on_accept`: When accepted, before best. Rationale: "good enough" to be spend additional resources i

[2022-05-23 17:17] N-Wouda commented on #71
I am not opposed to such callbacks, _but_: what's stopping you from writing your own AcceptanceCriterion that does both?

Minimal example:
[code]
In both cases you can, as far as I can tell, freely modify the passed-in candidate argument, without having to worry about copying anything.

[2022-05-23 17:41] N-Wouda commented on #58
I am iffy if we are at the point yet where a JOSS publication might be possible, but we are definitely not far off.

@leonlan with your recent contributions, would you be willing to co-author an eventual JOSS publication? It's all fairly simple, like 500-1000 words about the package, and uses in existing/upcoming papers. I can draft a first text, and then you could review?

[2022-05-23 18:33] leonlan commented on #71
Nothing is stopping me personally since I've already hacked through the entire ALNS class for my research :-). That's indeed a good suggestion which covers the proposed implementations.

[2022-05-23 18:38] leonlan commented on #58
That is an honorable request! I'm happy to contribute to the paper :)

[2022-05-23 18:39] N-Wouda commented on #71
But that's OK. Clearly there's some demand for callbacks and such then - I believed in #30 that there was not. I will leave this issue open to revisit at some point in the near future!

[2022-05-25 15:18] N-Wouda opened #73 "Bandit weight scheme"
Our current weight schemes are all very simple. I feel more can be learned, perhaps using some sort of multi-armed bandit.

[2022-05-25 17:10] N-Wouda commented on #73
https://www.scipopt.org/workshop2018/slides/SCIP-Workshop-Gregor-Hendel.pdf

[2022-05-25 19:14] N-Wouda commented on #73
https://proceedings.neurips.cc/paper/2014/file/903ce9225fca3e988c2af215d4e544d3-Paper.pdf

[2022-05-25 19:22] N-Wouda opened #74 "Rename weight schemes"
_Weight scheme_ is perhaps a poor choice. These schemes are responsible for adaptive operator selection. A better name might be _adaptive scheme_, since one need not use weights (or similar) to determine how to select operators.

Further:

- `SimpleWeights` -> `RouletteWheel` (cite some paper using this)
- `SegmentedWeights` -> `SegmentedRouletteWheel` (default for many papers)

Maybe also look ar

[2022-05-26 10:56] N-Wouda commented on #74
If/when we do this, we should probably also implement more options from the literature.

[2022-05-26 10:57] N-Wouda opened #75 "More acceptance criteria"
[Santini et al. (2018)](https://santini.in/files/papers/santini-ropke-hvattum-2017.pdf) present a lot of them in their paper. I implemented three that seemed promising, but to be thorough we should probably also get the rest in.

[2022-05-26 11:02] N-Wouda commented on #75
Should also check that implementations of current algorithms agree with the reference. For SA/HC I am pretty sure they do, for RRT not entirely.

[2022-06-01 10:30] N-Wouda commented on #75
@leonlan sure! A lot of them seem superficially similar, so it might be possible to reuse a lot of code for (slightly) different acceptance criteria.

[2022-06-01 19:46] leonlan commented on #75
The description of RTRT in Santini et al. (2018) is different from the one you implemented, which follows the original paper by Dueck and Scheuer (1990).

[code]

What is your thoughts on this? Change to Santini's description or keep the original? I might prefer the latter, because it makes semantically more sense to have a threshold on the absolute gap instead of the relative gap.

[2022-06-02 06:15] leonlan commented on #75
OK, will put it on the to-do.

Thanks! I learned a lot from contributing to the ALNS library (e.g., poetry, gh-actions), so thank you for that :)

[2022-06-16 11:50] N-Wouda opened #83 "Mypyc"
We have type annotations (almost) everywhere. Those are OK as well, at least according to mypy.

Can we use this to test whether ALNS compiles with [mypyc](https://github.com/mypyc/mypyc)?

[2022-06-16 16:18] N-Wouda commented on #61
They're in [typing-extensions](https://pypi.org/project/typing-extensions/) for earlier Python versions. Might be worth adding this as a dependency, since many systems will likely already have it installed.

[2022-06-20 14:57] N-Wouda opened #85 "Directions"
[partially based on [https://doi.org/10.1016/j.cor.2022.105903](https://doi-org.proxy-ub.rug.nl/10.1016/j.cor.2022.105903), thanks @leonlan]

- Less parameters/tuning. Can we learn some of these? See also #73.
- Does adaptive anything even make sense? What about regular LNS?
- How to select which operators work well together/which operators to keep? Can we use that to guide the actual heuristic? O

[2022-06-21 03:03] rlacjfjin opened #86 "Are TA and RRT the same?"
As the title

[2022-06-21 05:38] N-Wouda commented on #86
@rlacjfjin thanks for opening an issue!

I find it difficult to understand your question. What's the same as what? Can you perhaps rephrase, or explain in more detail?

[2022-06-21 09:53] leonlan commented on #85
Some random thoughts related to the question: how good is LNS compared to ALNS?
- [Christiaens and Vanden Berghe (2020)](https://pubsonline.informs.org/doi/abs/10.1287/trsc.2019.0914?casa_token=SlyfDw3BxIYAAAAA:mDewWLkuB0c6EcFYmoMdttsfNoPi9cqrV08zWioKeIcZULVD01Xz1pTNx0RLR6xhHC477z4dS69g) show that an LNS using a 1) *slack-inducing string removal* destroy operator and 2) *greedy insert with blinks*

[2022-06-22 06:57] N-Wouda commented on #86
No, TA compares against the current solution; RRT against the global best:

[code]

Do note that these APIs are not yet set in stone - they are not yet released. In particular, I suspect we might merge RRT and TA into one class, and have the behaviour depend on a parameter.

[2022-06-22 09:55] rlacjfjin commented on #86
I'm following your project, and I see new submissions.
I've checked what has changed, sorry for disturbing you.
It's ok now,
thanks

[2022-06-22 09:55] #86 closed

[2022-06-22 10:11] N-Wouda commented on #86
No worries, I am glad we could clear this up!

[2022-06-22 19:49] N-Wouda commented on #75
I'm closing this issue because the last series of PRs (#77, #78, #79, #80, #81, and #82) have significantly extended the number of acceptance criteria on offer. These will be released in v4.1.0, after PR #87 is merged in.

[2022-06-22 19:49] #75 closed

[2022-06-25 08:45] N-Wouda opened #88 "Readthedocs"
Or similar. I think the project is now at a point where we need a dedicated documentation website, where we can also put some cookbooks up (e.g., the example notebooks - compare [scipy cookbooks](https://scipy-cookbook.readthedocs.io/)).

[2022-06-27 10:07] leonlan commented on #71
After some experimenting, I no longer think it's beneficial to have more callbacks in ALNS.

As you said before, the acceptance criterion can be easily modified to apply local search after repair/on accept. This same principle can be also applied directly to destroy/repair operators, e.g., by decorating the operators.

I think it's good to keep the ALNS class as simple as possible. Rather than add

[2022-06-27 11:16] N-Wouda commented on #71
I agree. The paper you referenced having a destroy-local search-repair cycle is completely equivalent to (destroy + local search)-repair, or destroy-(local search + repair). I think we are better off _not_ adding all sorts of callbacks for these things into the library, but instead push those ideas off into user code.

I would be open to adding new callbacks when something is hard to do currently.

[2022-06-27 11:16] #71 closed

[2022-07-17 06:48] leonlan opened #90 "Adding pre-commit to the library"
[pre-commit](https://pre-commit.com/) is a library for managing pre-commit git hooks. Since we already have `black`, `mypy`, `flake8`, etc., it's just a matter of installing and configuring pre-commit to make sure all linters/type checkers are run before committing. We can also add many other useful hooks, e.g. any of the [flake8 extensions](https://github.com/DmytroLitvinov/awesome-flake8-extensi

[2022-07-18 08:02] N-Wouda commented on #90
Sounds like a useful dev-dependency to me. Would you care to setup a PR with the required config file?

[2022-07-18 08:12] leonlan commented on #90
Sure thing. I'll submit a PR next week.

[2022-10-18 11:33] N-Wouda commented on #85
There's also this paper about the A in ALNS: [Turkes et al. 2021](https://www.sciencedirect.com/science/article/abs/pii/S037722172030936X) (not sure if we've linked to this thing before). I read this as "it's probably not that beneficial in general, since it also adds complexity".

[2022-11-01 12:39] leonlan commented on #83
Here is a recent [blog post](https://ichard26.github.io/blog/2022/05/compiling-black-with-mypyc-part-1/) on compiling black using mypyc.

[2022-11-01 13:11] leonlan opened #91 "Example notebook for CVRP"
Some time ago I wrote a notebook demonstrating how to use ALNS for CVRP [here](https://colab.research.google.com/drive/17lgI6gC1FzuvDFfRcBqtbWExia_hfnvC#scrollTo=-PkKgp3V-s86&uniqifier=1). I'll rewrite it a bit soon and make a pull request for it when I'm done.

[2022-11-01 13:13] N-Wouda commented on #83
Cool to see that (apparently?) the typing on ALNS is already at a point where mypyc can compile it without problems. One thing we might do to further improve its performance is by making the types more strict in the existing codebase.

Of course, in an actual ALNS heuristic, most of the time will be spent in the operators. So for practical performance, ALNS is not often the problem. Nonetheless, w

[2022-11-01 13:17] N-Wouda commented on #69
I'm not that interested in pursuing this anymore, so I am closing this for now.

[2022-11-01 13:17] #69 closed

[2022-11-01 13:55] N-Wouda commented on #58
We can use this github action for compiling the draft paper: https://github.com/marketplace/actions/open-journals-pdf-generator.

[2022-11-01 14:23] N-Wouda commented on #58
I'm toying around with a stub a bit in the `joss-paper` branch.

[2022-11-01 18:49] N-Wouda opened #93 "Make repo citable"
See [here](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files) for Github instructions on this.

Something to do once we have a JOSS publication.

[2022-11-02 06:43] leonlan commented on #74
[Stochastic universal sampling](https://dl.acm.org/doi/10.5555/42512.42515) is an alternative to the roulette wheel mechanism. It's used in one ALNS paper [(Chowdhury et al. (2019)](https://academic.oup.com/jcde/article/6/3/368/5732351#s0050).

[2022-11-02 06:54] leonlan commented on #74
Reinforcement learning [(Sutton and Barto (2018))](https://www.andrew.cmu.edu/course/10-703/textbook/BartoSutton.pdf) provides a framework for adaptive operator selection. For example mutli-armed bandit, which is already mentioned by #73.

[2022-11-02 07:06] leonlan commented on #74
The dissertation by [Karimi Mamaghan (2022)](https://www.theses.fr/2022IMTA0297.pdf) may be helpful for our changes related to the adaptive operation selection in ALNS.
- In Section 3.5.1, the adaptive operator selection problem is described as a sequence of five steps: 1) performance criteria identification, 2) reward computation, 3) credit assignment, 4) selection, 5) move acceptance. Step 5) is

[2022-11-02 09:32] N-Wouda commented on #88
See here for a tutorial: https://docs.readthedocs.io/en/stable/tutorial/index.html

[2022-11-02 09:35] N-Wouda commented on #91
I think this is a good idea. We have something for TSP already, but the VRP is a much larger class of problems, and one where ALNS is used a lot in practice. It would be good to have a full-length tutorial for a VRP variant in the repository.

[2022-11-02 11:12] leonlan commented on #74
On adaptive operation selection from [Karimi Mamaghan (2022, p64-p65)](https://www.theses.fr/2022IMTA0297.pdf).

[2022-11-02 12:22] leonlan commented on #74
For `SelectionScheme.__call__` to select operators, I like the current approach of using indices to determine which destroy/repair operator to select. So I think we only need to add `best` and `curr` as arguments to cover most things:
[code]

For `SelectionScheme.__update__`, we need the selected destroy/repair indices, the outcome index, and also `best`, `curr`, `cand`:
[code]

The reason why we

[2022-11-02 12:50] N-Wouda commented on #74
To match the acceptance and stopping criteria, I propose switching the argument order to `(self, rnd, best, current)`. Otherwise looks good to me.

I think we can limit this further to just the observed candidate solution: if needed, the others can be derived from `s_idx` and the previous `__call__`. Something like `(self, cand, d_idx, r_idx, s_idx)`?

[2022-11-02 13:03] N-Wouda commented on #74
Should we create an IntEnum for the evaluation outcome, and pass that to `update`, rather than a meaningless integer `s_idx`?

I'm thinking of

[code]

[2022-11-02 13:37] leonlan commented on #74
Sounds good.

I'm not 100% convinced about this yet, but I'll try implementing this and see how it works. One benefit from providing all states is that it makes computing the objective difference (cand vs. best or cand vs curr) easier, just like we do in acceptance criteria.

Works for me!

[2022-11-02 13:49] leonlan commented on #74
Some function signatures take `rnd` as last positional argument (e.g., the ops), whereas others take it as the first one (e.g., the acceptance/stopping criteria). Should we make this consistent everywhere?

[2022-11-02 14:28] N-Wouda commented on #74
I'm leaning no. What we're changing now is mostly internal to the package: while other people can, in theory, write their own acceptance criteria or operator selection scheme, from what I have seen, very few people actually do.

Changing the signature of operators and callbacks, however, will directly impact users. We should probably not do that.

[2022-11-02 14:30] leonlan opened #94 "Generalize on_best to on_outcome"
ALNS currently supports a callback function to be called when ALNS finds a new global best solution state:

https://github.com/N-Wouda/ALNS/blob/55e5cfc8b77609b825512e4622478f48f1102183/alns/ALNS.py#L254-L267

Since we use the notion of outcomes in ALNS, we can generalize this hook to work for other outcomes such as better, accepted, and rejected as well.

A simple proposal is to replace `on_best`

[2022-11-02 16:19] N-Wouda commented on #94
I think that makes sense. To not break the current code, I think we should consider an addition:
[code]

[2022-11-04 12:03] N-Wouda commented on #73
https://eprints.whiterose.ac.uk/113924/1/MAB_v4_submission.pdf

[2022-11-05 10:04] leonlan commented on #74
TODOS:
- [ ] Rename weights to select, issue deprecation warnings for weights

[2022-11-05 10:32] leonlan opened #97 "Introduce RandomSelect scheme"
Introduce a selection scheme that selects destroy and repair operators with uniform probability. To be done after introducing the new selection interface.

[2022-11-05 19:44] N-Wouda commented on #73
This is next after finishing the docs (#95).

[2022-11-05 19:46] N-Wouda commented on #58
The paper in the `joss-paper` branch is mostly complete. Once we finish the docs, finish the new selection interface, and add a bandit selection scheme, I think we are ready to submit it for review.

[2022-11-06 10:17] N-Wouda opened #99 "Add 2-opt on_best callback to TSP example"
Currently, we nowhere show how to use the callbacks. We should provide at least one example somewhere, and I think a good case would be to do 2-opt in TSP.

[2022-11-07 09:38] #88 closed

[2022-11-07 09:54] N-Wouda commented on #94
Since the actualy amount of code needed for this is very small, we could also just do `on_best`, `on_better`, `on_accept`, `on_reject` as explicit methods, rather than expose the `Outcome` enum to the users.

[2022-11-07 12:04] N-Wouda commented on #99
We already have a short example in the VNS explanation. I think that is enough.

[2022-11-07 12:04] #99 closed

[2022-11-07 14:31] N-Wouda commented on #74
@leonlan can this issue now be closed?

[2022-11-07 14:32] N-Wouda commented on #73
Now that #98 is in, I will start working on this tonight.

[2022-11-07 14:34] #74 closed

[2022-11-07 16:31] N-Wouda commented on #73
This is a nice paper that does something very similar to what I'm trying to build: https://doi.org/10.1007/s12532-021-00209-7. I think I will implement the UCB policy outlined there.

[2022-11-07 21:13] #91 closed

[2022-11-07 21:30] N-Wouda commented on #58
The JOSS paper is blocked until we finish #73 (#102), #94, and #97. That's not a lot of work anymore, so I think we can have a paper under review in a week or so.

[2022-11-07 21:34] N-Wouda commented on #94
This comment is relevant here:

[2022-11-08 09:55] #73 closed

[2022-11-08 09:56] N-Wouda commented on #97
Shall I take this one on?

[2022-11-08 10:16] N-Wouda commented on #94
This one's pretty easy as well. I will try to finish this one tonight, so we can submit our JOSS paper (#58).

[2022-11-08 13:46] #97 closed

[2022-11-08 18:37] #94 closed

[2022-11-08 22:14] N-Wouda commented on #83
I'm closing this issue for now. Clearly, the typing is good enough to support mypy, but I am not that convinced this is where we should take `alns`.

[2022-11-08 22:14] #83 closed

[2022-11-08 22:18] N-Wouda commented on #58
This is happening, I submitted a paper earlier today! 🎉

[2022-11-09 07:52] leonlan commented on #85
There's 3 "parameter groups" that we might want to tune in ALNS:
- ALNS itself (the parameters such as destroy rate, which destroy and repair operators)
- The operator selection scheme
- The acceptance criterion

It would be nice to have a `tune` module that does some of the following:
- Given the space of parameters, return a sampled instance/configuration.
   - E.g., suppose we have ALNS with 2

[2022-11-09 08:37] N-Wouda opened #105 "Improve documentation"
Into two parts:
[code]

Then we only have a top-level `index.rst` file, that lists everything in these folders.

[2022-11-09 08:38] N-Wouda commented on #90
@leonlan is this still something you want to do?

[2022-11-09 08:45] N-Wouda commented on #85
We probably shouldn't invent our own half-baked solution for this. The ML community has a lot of this already, with e.g. [`keras-tuner`](https://www.tensorflow.org/tutorials/keras/keras_tuner), [`ray.tune`](https://docs.ray.io/en/latest/tune/index.html), etc. Those are used by a lot of people, apparently with some success. At some later point it could pay off to see how they work, and whether we c

[2022-11-09 08:47] leonlan commented on #90
Yea, I'll submit a PR this weekend.

[2022-11-10 09:13] leonlan opened #106 "Example for the permutation flow shop problem"
I have some old code lying around where I solve the permutation flow shop problem with large neighborhood search / iterated greedy. This example also covers iterated local search, because the heuristic applies the relocate neighborhood after greedily repairing the solution.

Some todos:
- [x] Update code to ALNS V5
- [x] Include 3 destroy operators with different destruction rates
- [x] Include 2

[2022-11-10 09:32] N-Wouda commented on #106
Is this also something where we could, for example, show the operator coupling matrix in action? Or do all destroy and repair operators work together?

[2022-11-10 09:33] N-Wouda commented on #105
Add more math to docs: we have a lot of places where we historically did math as code (e.g., how stuff is updated in SA and RRT). We have docs that support actual math now, so let's use that instead.

[2022-11-10 09:33] N-Wouda commented on #105
We should perhaps have a dedicated installation page, both with "install using pip" and "install from source".

[2022-11-10 09:36] N-Wouda commented on #105
The API reference is mostly complete, but it isn't really clear what some (mostly unused) features are supposed to do. E.g. kwargs to iterate(), op_coupling in selection schemes, and the autofit methods. I think we should highlight this more somehow, perhaps by adding a "short tutorial" and an "advanced topics" page.

[2022-11-10 09:36] leonlan commented on #106
They all work together in this problem. We could manually enforce coupling?

[2022-11-10 09:37] N-Wouda commented on #106
We could, but when the example does not require it there's no point. We could perhaps do something with this in the context of #105 (so not for the permutation flow shop problem).

[2022-11-11 15:48] N-Wouda opened #108 "Cache dependencies in CI runner"
The CI runner takes an increasing amount of time to resolve package dependencies. This has resulted in build times running up to 10min for the Python 3.10 build. We should cache the dependencies for a while on the CI runner, so as to avoid these very long runtimes.

EDIT: I'm pretty sure scipy/statsmodels solved this in some way, so their CI scipts would be a good place to start.

[2022-11-11 15:49] N-Wouda commented on #108
It's mostly poetry that cannot resolve the dependencies very quickly. That seems to be a common issue: https://github.com/python-poetry/poetry/issues/2094.

[2022-11-11 16:10] N-Wouda opened #109 "Tuning module"
See also #85. Most ALNS heuristics have a ton of (hyper)parameters. This happens more or less naturally, as may things can be tweaked - in operators, call-backs, but also in the core accept/stop/operator selection classes.

We can help users with tuning. The ML community has a lot of this already, with e.g. [`keras-tuner`](https://www.tensorflow.org/tutorials/keras/keras_tuner), [`ray.tune`](https

[2022-11-11 16:13] N-Wouda commented on #109
Or should we just interface with one or more of those existing tuning packages?

[2022-11-11 16:57] leonlan commented on #105
I think I can include more advanced features in #106.
- Pass-on the processing times matrix to `**kwargs`
- Use autofit
- Include local search post-repair (which essentially turns it into iterated local search)

[2022-11-12 13:34] N-Wouda commented on #105
We're currently hosting our docs on RTD, but I eventually want to move that to a dedicated Github pages location. We then have to build everything in a CI worker, but that's pretty easy to set up.

[2022-11-12 22:49] N-Wouda opened #111 "Code of conduct, how to contribute, templates"
The usual stuff for open source projects. I think we can do with a lot of standard texts for this, but we should add them in soon.

[2022-11-13 09:04] leonlan commented on #90
#112 adds a simple configuration for pre-commit. There's a few things more that I'd like to do:
- Add `isort` or `reorder-python-imports` dependency
- Remove `black`, `mypy` and `flake8` from poetry
- Integrate with [pre-commit.ci](https://pre-commit.ci/) - this I cannot do because I'm not the owner of the repository

[2022-11-13 13:03] N-Wouda commented on #108
Relevant pre-commit stuff: https://tobiasmcnulty.com/posts/caching-pre-commit/

[2022-11-13 13:22] #90 closed

[2022-11-13 15:14] #106 closed

[2022-11-14 22:11] N-Wouda commented on #58
I'm closing this issue as there is nothing left to be done before the review process commences elsewhere.

[2022-11-14 22:11] #58 closed

[2022-11-15 15:18] markkvdb commented on #108
The setup-python action for GitHub Actions supports caching poetry dependencies out of the box. Minimal example to make things run:

[code]

I don't know why but `pipx` is installed by default for the GitHub runners.

[2022-11-15 15:25] markkvdb commented on #108
Btw, the code (structure) of this project is really nice. Once, every few months I have a peek at how it's evolving!

If you have to get some more inspiration for good coding practices (in Python) I suggest to have a look at the work of [Tiangolo](https://github.com/tiangolo). He's the author of the excellent FastAPI and Typer packages. Next to the code, his packages also have very clear and exten

[2022-11-15 15:26] N-Wouda commented on #108
@markkvdb thanks! I tried this a few days ago in a commit in #107, but the issue is that we do not ship a lockfile (ALNS is a library, not an application, so we do not require strict dependencies). I have been thinking of testing with fixed dependency versions, but haven't gotten around to anything yet.

[2022-11-15 15:29] markkvdb commented on #108
You don't actually need a lock file (`poetry.lock`). You can let the CI run the `poetry install` (with dependency resolving) run once and reuse this across runs.

[2022-11-15 15:31] markkvdb commented on #108
The caching will be done based on the hash of the python version and the `pyproject.toml` file, so as long as nothing changes there you don't need to resolve for each run.

[2022-11-15 15:35] N-Wouda commented on #108
Are you sure? Based on my understanding of [the action](https://github.com/actions/setup-python/blob/v4.1.0/src/cache-distributions/poetry-cache.ts), it'll also hash in the lock file contents. And that will be resolved anew by poetry every time (which is very slow), and likely not match an existing cached set of dependencies.

[2022-11-15 15:45] markkvdb commented on #108
I'm quite surprised that setup-python does not save the environment (with temporary lock file) across runs. I never tested it but if it's really like that, then adding a manual caching step should definitely work. In my opinion, this is cleaner than expecting developers to consistently run the `pre-commit` hooks.

If you do want to use the `pre-commit` workflow, then it might be wise to add a step

[2022-11-15 15:57] N-Wouda commented on #108
@markkvdb I don't think I understand the link between the dependencies in the `pyproject.toml` file (and, by extension, in `poetry.lock` and the like), and the pre-commit workflow. As far as I know, pre-commit gets them directly from the repositories linked in `.pre-commit-config.yaml`, at the rev's fixed there. Can you explain?

[2022-11-15 16:31] markkvdb commented on #108
Never mind, I misunderstood how you are using pre-commit. I was thinking that `pre-commit` was responsible for making sure that the `requirements.txt` file was up-to-date but it's something completely different...

It seems that manually handling the caching might the best if setup-python doesn't handle this. It does require you to wait for the dependency resolver once but that's what it is in tha

[2022-11-15 21:29] N-Wouda commented on #108
@markkvdb thanks! I'm not entirely sure how we should approach dependency pinning yet. We have some minimum versions we could pin, to at least make sure those work. At the same time, we also want to make sure recent(-ish) versions of our dependencies work well too. I'm not sure if we should pin those, or leave it to pypi to get us whatever's most recent.

I'll have a look at how scipy, statsmodels

[2022-11-16 12:28] N-Wouda opened #113 "On convergence stopping criterion"
In [this repository](https://github.com/EvaDenekamp/RobustCarSequenceHeuristic), I saw a stopping criterion that runs until the percentage difference between a new best solution and the old best solution is lower than some threshold. They called it an "on convergence" stopping criterion.

It might be difficult to have this stand on its own, but could perhaps be combined with other stopping criteri

[2022-11-16 12:48] leonlan opened #114 "Q-learning operator selection scheme"
Q-learning has been used in [Karimi-Mamaghan et al. (2021)](https://link.springer.com/chapter/10.1007/978-3-030-85672-4_4) and [Karimi-Mamaghan et al. (2023)](https://www.sciencedirect.com/science/article/pii/S0377221722002788) select perturbation operators for the traveling salesman problem and the permutation flowshop problem, respectively. See the book on Reinforcement learning by [(Sutton and

[2022-11-16 13:05] N-Wouda commented on #114
It'll be interesting to see how such an approach compares to the bandit scheme we already have.

[2022-11-16 15:18] #111 closed

[2022-11-17 06:55] leonlan opened #116 "Put back configuration in pyproject.toml"
#112 moved all black/isort/flake8/mypy configurations from `pyproject.toml` to `pre-commit-config.yaml`. Because of this, the linters and formatters in my text editor can no longer find the ALNS-specific configurations and resort to the default configuration settings (e.g., 88 line length for black). This makes the development process painful because my commits are formatted differently on-save th

[2022-11-17 08:09] N-Wouda commented on #116
I'm pretty indifferent on how we do this. My editor doesn't really have this issue, so I didn't know.

Feel free to revert the changes to pyproject.toml and setup.cfg. Does isort support config in pyproject.toml?

[2022-11-17 08:15] leonlan commented on #116
OK, I’ll make a PR somewhere later this week.

Yeah, isort is supports config in pyproject.toml.

[2022-11-17 09:11] leonlan opened #117 "Add linear updating method to SimulatedAnnealing.autofit"
`SimulatedAnnealing.autofit` assumes that the final temperature always goes to 1:

https://github.com/N-Wouda/ALNS/blob/8ef4665c9cb27923497e11dccf3e75d9b58821bd/alns/accept/SimulatedAnnealing.py#L104-L128

It would be nice to have an `end_worse` argument for simulated annealing, so that we can have final temperatures other than 1. The current `worse` parameter could rephrased to `start_worse`.
- I

[2022-11-17 09:18] N-Wouda commented on #117
What we have right now is, for better or worse, something that's done in the literature in almost precisely this way, using the current phrasing. I don't see an obvious way to make this change in a non-breaking way. Since it's used, and we cannot change this without requiring another version bump, I'm leaning wontfix on this one.

That's fine by me. We can just add this as a new argument. The math

[2022-11-17 12:44] leonlan commented on #117
I agree. Let's just add the linear updating method.

[2022-11-18 12:02] #117 closed

[2022-11-18 12:28] N-Wouda commented on #42
The TSP example has been updated to do more or less exactly this now, resulting in a slight performance improvement as well.

[2022-11-18 17:26] fahaddd-git commented on #108
Just brainstorming ideas in this thread here to make things faster in the CI.  Without the lockfile this seems to be a little more challenging.

1. Cache the install of Poetry itself
2. Run a cronjob at some interval to create cache using deps that are downloaded.  Hash the `pyproject.toml` as the key.
3. User triggers CI- check if cache hit on the `pyproject.toml` file.  If so deps are gotten fro

[2022-11-19 12:42] #108 closed

[2022-11-19 12:43] N-Wouda commented on #108
@markkvdb @fahaddd-git thanks for your inputs! I have added some caching in #119 that reduces CI runtimes around 10x to one minute or less. That is more than sufficient for now, so I closed this issue.

[2022-11-19 12:53] N-Wouda commented on #105
We should also allow running the notebooks on Google Colab or Binder, directly from the documentation. This will make it much easier for people to start using our code.

[2022-11-19 13:50] #105 closed

[2022-11-19 13:53] N-Wouda commented on #85
I'm closing this issue because tuning is now in #109, and the other ideas from last summer have (for the most part) already been implemented.

[2022-11-19 13:53] #85 closed

[2022-11-19 15:11] #116 closed

[2022-11-19 16:05] leonlan opened #122 "Run example notebooks on Google Colab or Binder"
_Originally posted by @N-Wouda in https://github.com/N-Wouda/ALNS/issues/105#issuecomment-1320879772_

[2022-11-19 16:08] N-Wouda commented on #122
Binder's really slow to start up. I get annoyed every time I have to use it. Colab's better, but harder to run because we'd need to have a cell somewhere that installs `alns` (but only when running on Colab).

[2022-11-19 16:11] leonlan commented on #122
Google Colab notebooks can be made by replacing `github.com/` with `colab.research.google.com/github/`:

https://colab.research.google.com/github/N-Wouda/ALNS/blob/master/docs/source/examples/cutting_stock_problem.ipynb

Some things we need to address to make this notebook run:
- We need to add a preamble with `pip install alns`
- How to access the instance/data files? Hard-code the urls?

[2022-11-19 16:18] leonlan commented on #122
To check if we're in Google Colab: https://stackoverflow.com/a/53586419/13184241
[code]

Manual upload files (assuming we're in colab)

[code]

[2022-11-19 16:23] N-Wouda commented on #122
I didn't do this in #120 because there's no good way to make this work (most of the other projects I looked at used Binder for this reason). In the end I figured it'd be easy enough for users to manually copy the notebook from the repo (the link to it is at the top of each example), put it on Colab, and download the necessary data. Or just download the repo and have a go at it locally.

[2022-11-19 16:32] leonlan commented on #122
I think we only need these two changes to each notebook to make it work:
- We add the preamble to pip install alns if we're in colab.
- We make an HTTP-request to the github to get the data if we're in colab, otherwise we just read the local file.

I agree that it should not be very hard to get this run locally. Not sure if it's worth the effort.

[2022-11-19 17:02] leonlan commented on #122
I'm closing this issue. It's not worth the extra effort from our side to make these notebooks run on Colab.

[2022-11-19 17:02] #122 closed

[2022-11-22 21:36] N-Wouda opened #123 "Documentation"
A big list of (minor) TODOs:

- [x] Create a "how to install" page, both from pip and from source. If from source: explain how to run the examples.
- [x] Create a "how to contribute" page, also detailing how to set-up a local dev environment (including pre-commit + tests). Link to the contributing document on Github.
- [x] Move example dependencies to a new "example" group using poetry. Add jupyte

[2022-11-22 21:39] N-Wouda commented on #123
I'll see if I can write most of this tomorrow morning.

[2022-11-22 21:43] N-Wouda commented on #123
Another list of things:
- [ ] Add mathematical descriptions to the weight-baeed operator selection schemes. These descriptions can be taken from the ALNS features notebook.
- [ ] Add mathematical descriptions to SA and RRT. These descriptions can be taken from the ALNS features notebook.

[2022-11-22 21:46] N-Wouda commented on #123
(the first few points are things we'll be asked about in the JOSS review, so it's probably good to get ahead of that and already write something for)

[2022-11-22 22:14] N-Wouda commented on #123
We should move the examples up, into the `examples/` directory where they used to be, and use something like [sphinx-collections](https://github.com/useblocks/sphinx-collections) to move the examples to where they need to be for the docs to build.

[2022-11-23 11:48] N-Wouda commented on #123
There's zero need to use a dependency for this. Just shutil everything over in the `conf.py` file.

[2022-11-23 20:44] leonlan commented on #114
I'm planning to implement this probably somewhere next year.

[2022-11-23 20:53] #123 closed

[2022-11-23 20:55] N-Wouda commented on #114
I'm about to showcase my ignorance, but.. how would this work? Does it learn as it makes choices, like $\alpha$-UCB? Or do we need to do something pre-trained?

I'm pretty much a noob when it comes to these fancy ML things. So this might be obvious, but I don't know it :-).

[2022-11-23 21:02] leonlan commented on #114
It's like segmented $\alpha$-UCB? It's been a while since I read Karimi-Mamaghan's paper. But essentially we have episodes (i.e., segments) during which an operator pair is used for the episode length. Based on the performance (which can be outcome-based but I think Q-learning uses actual objective gains), the operator scores are updated. Operator pairs with the highest score (aka Q-value) are sel

[2022-11-23 21:10] N-Wouda commented on #61
The `WeightScheme` base class has since been renamed to `OperatorSelectionScheme`, but the point stands.

[2022-11-23 21:23] leonlan commented on #114
I also wonder about the same. I think there's a lot of interesting questions to be asked about the operator selection schemes in ALNS. These days it's very common in the ALNS-VRP literature to make an ALNS heuristic with many destroy and repair operators, sometimes even exceeding 10 operators in total. Does that even make sense?

I keep bringing it up again - much to my own annoyance - the slack-i

[2022-11-23 21:27] N-Wouda commented on #114
A paper I've been thinking about for at least five years now is more or less this:

1. Take an absolute state-of-the-art metaheuristic for some problem. Say, Vidal's HGS-variants for a VRP problem.
2. Remove stuff from it and see whether it's still good. Keep removing stuff until you're left with a core of critical components.
3. Explain/reason/theorise why those components matter, and why all the

[2022-11-23 21:31] N-Wouda commented on #114
That's for sure! I'm not sure how much of it fits my research plans for the next few years, but there's a ton of critical papers here that you/we/others can write.

[2022-11-24 11:20] N-Wouda opened #125 "Rewrite the core algorithms in C++"
Very long term goal. Python is not all that fast, and numpy and the like don't help here much either since it's largely about objects calling each other. If we can rewrite some parts in C++ and expose Python bindings, we can both speed up the existing package (for Python users) and allow people to work with the C++ directly. That'd capture more or less the entire ALNS 'market'.

@leonlan maybe som

[2022-11-24 16:36] N-Wouda opened #126 "List of publications"
It might be nice to store a list of (academic, or otherwise?) publications using the package somewhere. Then people could also add their own through pull requests (or by opening an issue), if they want to do so.

This should probably be a page in the docs somewhere, with a link to it from the readme/index pages.

[2022-11-24 16:48] N-Wouda commented on #126
I'll kick off:

Wouda, N.A., A. Aslan, and I.F.A. Vis (2022). An adaptive large neighbourhood search metaheuristic for hourly learning activity planning in personalised learning. _Computers & Operations Research_, forthcoming. https://doi.org/10.1016/j.cor.2022.106089

[2022-11-24 21:20] leonlan opened #127 "Adaptive threshold acceptance criterion"
[Máximo et al. (2021)](https://arxiv.org/abs/2012.11021v1) implements a threshold-based acceptance criterion. They do not give a specific name, but the threshold changes adaptively during the search, which is why I named it "adaptive threshold".

[2022-11-24 21:24] leonlan commented on #127
I'll probably work on this next year, just like #114.

[2022-11-25 09:26] #126 closed

[2022-11-25 10:48] N-Wouda commented on #59
We can do this fairly straightforwardly, but need to think about the synchronisation steps a bit.